{{define "title"}}Kaito Kid{{end}}
{{define "date"}}2020-11-07{{end}}
{{define "tags"}}anime{{end}}
{{define "content"}}
<p>Kaito Kid is an anime about a guy named Kaito Kuroba.<p>

<p>He wears white clothing and his most notable accessories are a cylinder and a monocle.</p>

<img
style="float:left; margin-right: 1em;"
src="{{.BasePath}}/media/kaito-kid.png"
alt="Image of Kaito Kuroba from Kaito Kid"
title="Image of Kaito Kuroba from Kaito Kid"/>

<p>The anime somewhat follows the monster of the day principle, but with crimes.
In each episode Kaito steals something in a very sneaky way using tricks and "magic".</p>

<p>It's quite a funny anime and I can recommend it especially for young people.</p>

<p>If you are older, you might have already heard of Kaito, as he's a character from the Detective Conan series.</p>
{{end}}