{{define "title"}}Your First Post{{end}}
{{define "date"}}2023-02-17{{end}}
{{define "tags"}}documentation{{end}}
{{define "content"}}
<p>
    This is a demo blog post, it aims to show you what stasi-blog can do and how
    to get started.
<p>

<h2>Feature Overview</h2>
<ul>
    <li>Article overview with paging and tags</li>
    <li>RSS Feed</li>
    <li>Mobile friendly</li>
    <li>Automatic Darkmode / Lightmode</li>
    <li>Custom Pages (Example would be an About page)</li>
    <li>Fast to load even with a slow (less than 64kbit/s) internet connection</li>
</ul>

<h3>Desktop-only Features</h3>
<ul>
    <li>Optional `Tags` sidebar for filtering by category</li>
</ul>

<h3>Features reliant on JavaScript</h3>
<ul>
    <li>Comments via utteranc.es (via GitHub issues)</li>
</ul>

</p>
{{end}}