{{define "title"}}Example{{end}}
{{define "content"}}
<p>This is an example for a custom page, other than articles.</p>

<p>
    It integrates into the navigation bar of the blog.
    A common example for this would be an about page or a CV.
</p>

<p>
    The number of custom pages is technically unlimited, however, at some point
    you will probably not appreciate how cramped it is, as there are currently
    no plans for a collapsible menu or anything of that type.
</p>

<p>
    For more details on capabilities, read the series of posts contained in the
    example.
</p>
{{end}}