<!DOCTYPE html>
<html lang="en-GB">
<head>
{{template "base-header" .}}
<title>{{template "title"}} | {{.SiteName}}</title>
{{template "base-metadata" .}}{{if .AddOptionalMetaData}}
{{template "opt-metadata" .}}
<meta property="og:title" content="{{template "title"}}" />
<meta property="og:type" content="article"/>{{if .Tags}}{{range .Tags}}
<meta property="article:tag" content="{{.}}"/>{{end}}{{end}}
<meta property="article:published_time" content="{{.RFC3339Time}}" />{{end}}
</head>
<body>
<header>
{{template "header" .}}
</header>
<article>
<h1>{{template "title"}}</h1>
<p class="authoring-date">Written on {{.HumanTime}}</p>
{{template "content" .}}
{{if .UtterancesRepo}}<script src="https://utteranc.es/client.js"
        repo="{{.UtterancesRepo}}"
        issue-term="title"
        theme="preferred-color-scheme"
        async>
</script>
<noscript>
<p><b>If you wish to access the comment section, you need to enable JavaScript.</b></p>
</noscript>{{end}}
</article>
<footer>
{{template "footer" .}}
</footer>
</body>
</html>