/* GENERAL */
html{
/*Sans-Serif fonts */
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
background: #f7f2e3;
color: #302d2d;
margin: 1em auto auto auto;
width: 50%;
}
@media (prefers-color-scheme: dark){
body{
background: #2c2c2c;
color: #d5d5d5;
}
}
a{
color: #4183C4;
text-decoration: none;
}
/* HEADER */
header{
display: flex;
flex-flow: wrap;
margin-bottom: 3em;
}
.site-info{
flex: 1;
flex-basis: content;
}
.site-name{
margin-top: 0;
margin-bottom: 0;
font-size: 2em;
}
nav{
font-size: 1.2em;
column-gap: 1em;
row-gap: 0.3em;
display: flex;
flex-wrap: wrap;
margin: auto 0 auto 0;
}
.menu-link{
white-space: nowrap;
}
/* INDEX */
.index-content{
display: flex;
flex-direction: row;
}
.articles{
flex: 1;
display: block;
}
.article-entry{
margin-bottom: 1em;
}
.article-title{
margin-top: 0;
margin-bottom: 0;
}
.article-tag + .article-tag::before{
content: ", ";
}
.tags{
margin-left: 2em;
min-width: 10em;
text-align: right;
}
.tags h2{
margin-top: 0;
margin-bottom: 0.3em;
}
.tag-list{
display: flex;
flex-direction: column
}
/* CONTENT */
.authoring-date{
font-size: 0.8em;
font-weight: bold;
font-style: italic;
}
article{
display: inline-block;
width: 100%;
}
audio{
width: 100%;
}
pre{
overflow-x: auto;
}
code>pre{
background: rgb(231, 226, 226);
padding: 0.5em;
}
code{
background: rgb(231, 226, 226);
}
@media (prefers-color-scheme: dark){
code>pre{
background: #3b3a3a;
}
code{
background: #3b3a3a;
}
}
/* FOOTER */
footer{
margin-top: 3em;
display: block;
}
.footer-bar{
display: flex;
justify-content: center;
column-gap: 1em;
}
/* SMALL SCREEN ADJUSTMENTS */
@media screen and (max-width: 720px){
body{
width: 95%;
margin-left: 2.5%;
margin-right: 2.5%;
}
header{
flex-direction: column;
}
.menu-link{
font-size: 1.5em;
}
.index-content{
flex: 0;
}
.tags{
display: none;
}
}