/* GENERAL */
html{
/*Sans-Serif fonts */
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
article, details, footer, .articles{
display: block;
}
body{
background: #f7f2e3;
color: #302d2d;
margin: 1em auto auto auto;
width: 50%;
}
@media (prefers-color-scheme: dark){
body{
background: #2c2c2c;
color: #d5d5d5;
}
}
a{
color: #4183C4;
text-decoration: none;
cursor: pointer;
}
/* HEADER */
header{
display: flex;
flex-flow: wrap;
margin-bottom: 2em;
}
.site-info{
flex: 1;
flex-basis: content;
}
.site-name{
margin-top: 0;
margin-bottom: 0;
}
nav{
font-size: 1.2em;
column-gap: 1em;
row-gap: 0.3em;
display: flex;
flex-wrap: wrap;
margin: auto 0 auto 0;
}
.menu-link{
white-space: nowrap;
}
/* INDEX */
.index-content{
display: flex;
flex-direction: row;
}
.articles{
flex: 1;
}
.articles h2{
margin-top: 0;
}
.tags{
margin-left: 2em;
min-width: 10em;
text-align: right;
}
.tags h2{
margin-top: 0;
margin-bottom: 0.3em;
}
.tag-list{
display: flex;
flex-direction: column
}
/* CONTENT */
.authoring-date{
font-size: 0.8em;
font-weight: bold;
font-style: italic;
}
pre{
overflow-x: auto;
}
/* SMALL SCREEN ADJUSTMENTS */
@media screen and (max-width: 720px){
body{
width: 95%;
margin-left: 2.5%;
margin-right: 2.5%;
}
header{
flex-direction: column;
}
.index-content{
flex: 0;
}
.tags{
display: none;
}
}