{{define "header"}}<div class="site-info">
<h1 class="site-name"><a href="/">{{.SiteName}}</a></h1>
</div>
<nav>
<a class="menu-link" href="/">Home</a>{{range .CustomPages}}
<a class="menu-link" href="/{{.File}}">{{.Title}}</a>{{end}}
</nav>{{end}}

{{define "base-header"}}
<link rel="stylesheet" href="/base.css">
{{/* Avoids favicon request */}}
<link rel="icon" href="data:,"/>{{end}}

{{define "base-metadata"}}
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>{{end}}
{{define "opt-metadata"}}<meta charset="UTF-8"/>{{if .Author}}
<meta name="author" content="{{.Author}}"/>{{end}}{{if .Description}}
<meta name="description" content="{{.Description}}" />{{end}}
<meta property="og:locale" content="en_GB"/>
<meta property="og:site_name" content="{{.SiteName}}"/>{{end}}

{{define "footer"}}<hr>
<div class="footer-bar">
<a href="/feed.xml">RSS-Feed</a>
</div>{{end}}