/* COLORS */
:root {
    --bg: #f7f2e3;
    --fg: #302d2d;
    --bg-contrast: #eee;
    --anchor: #46c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #222;
        --fg: #ddd;
        --anchor: #49c;
        --bg-contrast: #333;
    }
}

/* GENERAL */
html {
    /*Sans-Serif fonts */
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: var(--bg);
    color: var(--fg);
    margin: 1em auto auto auto;
    width: min(50rem, 90%);
}

a {
    color: var(--anchor);
    text-decoration: none;
}

/* HEADER */
header {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 3em;
}

.site-info {
    flex: 1;
    flex-basis: content;
}

.site-name {
    margin: 0;
    font-size: 2em;
}

nav {
    font-size: 1.2em;
    gap: 0.3em 1em;
    display: flex;
    flex-wrap: wrap;
    margin: auto 0 auto 0;
}

nav > a {
    white-space: nowrap;
}

/* INDEX */
.index-content {
    display: flex;
    flex-direction: row;
}

.articles {
    flex: 1;
    display: block;
}

.articles > div {
    margin-bottom: 1em;
}

.article-title {
    margin: 0;
}

.article-tags {
    display: inline-block;
}
.article-tags::before {
    content: " - ";
    white-space: pre;
}
.article-tags > *:not(:first-child)::before {
    content: ", ";
}

.tags {
    margin-left: 2em;
    min-width: 10em;
    text-align: right;
}

.tags h2 {
    margin-top: 0;
    margin-bottom: 0.3em;
}

.tags > div {
    display: flex;
    flex-direction: column
}

.pager {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

/* CONTENT */
.authoring-info {
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: bold;
    font-style: italic;
}

figure {
    margin: 0;
}

figcaption {
    filter: brightness(85%);
}

article {
    display: inline-block;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.trh-table td:first-child,
th:first-child {
    border-right: 1px solid var(--fg);
    font-weight: bold;
}

th {
    border-bottom: 1px solid var(--fg);
    font-weight: bold;
}

td,
th {
    padding: 0.4em 1.5em 0.4em 1.5em;
}

code,
code>pre,
table {
    background: var(--bg-contrast);
}

audio {
    width: 100%;
}

pre {
    overflow-x: auto;
}

code>pre {
    padding: 0.5em;
}

/* FOOTER */
footer {
    margin-top: 3em;
    margin-bottom: 0.5em;
}

footer > div {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}

/* SMALL SCREEN ADJUSTMENTS */
@media screen and (max-width: 720px) {
    body {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    header {
        flex-direction: column;
    }

    td,
    th {
        padding: 0.2em 0.5em 0.2em 0.5em;
    }

    nav > a {
        font-size: 1.5em;
    }

    .index-content {
        flex: 0;
    }

    .tags {
        display: none;
    }
}

/* ADJUSTMENTS FOR BROWSER BUILTIN PRINT FUNCTION */
@media print {
    header,
    footer {
        display: none;
    }

    * {
        width: 100% !important;
        margin: 0 !important;
    }

    p {
        padding-top: 1rem;
    }

    body {
        /* Some browser do not remove the background. */
        background-color: white;
    }
}

@page {
    margin: 2cm;
}
